<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13009529480-a90ikf5oqj8ptobo2q7sog6au5v2htou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13009529480-a90ikf5oqj8ptobo2q7sog6au5v2htou</string>
	<key>API_KEY</key>
	<string>AIzaSyB_rnV0T5Ku_m2gIddcyiOyEd2FIpoKiiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13009529480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.TakuyaSaito.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a23c5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a23c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13009529480:ios:3d099dd211483c07530d3d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a23c5.firebaseio.com</string>
</dict>
</plist>